ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    display: inline-block;
    padding: 0 1.25rem;
}
  
li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
  
li:hover a {
    text-decoration: underline;
}


.nav-toggle {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    cursor: pointer;
}
  
.nav-toggle img {
    width: 1.5rem;
    transition: 500ms all ease;
}
  
  
.open {
    height: 100vh;
}
    
.hidden {
    display: none;
}
  
  

@media all and (max-width: 895px) {

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
      height: 0;
      width: 100%;
      overflow: hidden;
      transition: 250ms height ease-in-out;
    }
  
    li {
      display: block;
      text-align: center;
      padding: 1.5rem 0;
    }
  
    li a {
      font-size: 1.4rem;
    }
  
    .nav-toggle {
      display: block;
    }
}
