*,

*::before,

*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

img
{
    width: 100%;

}

body
{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(34, 32, 32);
    padding: 0 1.5rem;

}

.container
{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    align-items: center;
    justify-content: center;
    

}


.news-item
{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: rgb(245, 244, 233);
    box-sizing: 0 1.4rem 8rem rgba(0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin: 50px;
}

.news-item-img
{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.news-item-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    border-radius: .8rem;
}

.news-item-img::before
{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    border-radius: .8rem;
}

.news-item-date span
{
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.news-item-title
{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #8a0000;
}

.news-item-text
{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}

.news-item-cta
{
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to right, #dd425c, 0%, #cc1720 100%);
    border-radius: .8rem;
    text-decoration: none;
}

.news-item-cta:hover
{   
    background-image: linear-gradient(to right, #cc1720 0%, #ec9f3a 100%);
}

@media screen and (max-width: 1068px)
{
    .news-item{
        max-width: 80rem;
    }
    .news-item-img{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px)
{
    .news-item{
        max-width: 70rem;
    }

}

@media screen and (max-width: 768px)
{
    .news-item{
        padding: 2.5rem;
        flex-direction: column;
    }
    .news-item-img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}
