body
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.banner
{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;

}

.banner img
{
  width: 220x;
  height: 220px;
}
