/* Nice new-york-times-looking font and removed base-margin. */

body{

    font-family: 'Playfair Display', serif;
    margin: 0;
}

/* Style and positioning for the top menu and logo */

header {
    
    background-color: #000000;
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
}

/* Basic styling of proportions to the menu-container */
  
.menu-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 10px;

}

/* Proportions to- and making the main container of the news-cards into a grid */

.post-container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 100%;
    max-width: 100%; 
}

/* positional/proportional outline of the individual cards */

.card-container{
    
    border: 1px solid black;
    padding: 40px;
    margin: 10px;
}

/* Proportions for the headline-images in the cards  */

.post-img{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0%;
}

/* Padding top to make sure the content doesn't bump into the top menu*/

main{

    padding-top: 60px;
}

/* Centering the 'Latest News' h1*/

main h1{

    text-align: center;
}

/* Re-positioning span-items */

.spandiv{

    display: flex;
    justify-content: space-between;

}
.spandiv i{

    margin: 4px;
}

.writtenby{

   text-align: right;
}

/* 1-column grid at lower screen sizes, as well as reduced padding and font-size for the card and headline-h1 */

@media only screen and (max-width: 640px){

    .card-container{

       padding: 16px;

    }

    .card-container h1{
        font-size: 18px;
    }

    .post-container{
        grid-template-columns: 1fr;
    }

}

